.csSelBg {
	background-color: #FFFFCC;
}

.csDefBg {
	background-color: #EEEEEE;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.csMp {
	cursor:hand; cursor: pointer;
}

.csNoWrap {
	white-space: nowrap;
	overflow:hidden;
}
