.overHidden {_zoom:1;}

.header {_zoom:1;}
.unbWrap .unbBasic {_zoom:1;}
.unbWrap .unbBasic li .subUnb {_width:112px;}
.unbWrap .unbBasic li .subUnb ul {_zoom:1;}
.unbBasic li .subUnb li span {_zoom:1;}

.searchWrap {_zoom:1;}
.sectionWrap {_zoom:1;}
.section .pngFix {_z-index:-1;}

.gnbWrap .gnbBasic {_zoom:1;}
.groupWrap .group {_zoom:1;}

.btnWrap {_zoom:1;}
.contentWrap {_zoom:1;}
.footer {_zoom:1;}


.titleWap {_zoom:1;}
.subtitleWap {_zoom:1;}
.contTitleWap {zoom:1;}
.contTitleWap2 {zoom:1;}

.infoSummury {_zoom:1;}

.listStyle01 th {word-break:nowrap;}
.listStyle02 .subject {_height:32px;}

.popFooter {_zoom:1;}

.tabWrap {_zoom:1;}
.rowType {_zoom:1;}

.memOutPaper ul {_zoom:1;}
.certifyForm {_zoom:1;}

.mileageViewBox {_zoom:1;}
.satisfyForm {_zoom:1;}

.myLogin .btnMyLogin {_top:27px; *top:27px;}
.loginWrap {_zoom:1;}
.login .btnLogin {_top:27px; *top:27px;}

.memberGuideWrap {_zoom:1;}

.popLoginAdd {_zoom:1;}
.popContainer {_zoom:1;}
.photoList {_zoom:1;}

.mapWrap .mapList {_right:0;}

.faqSearchWrap {_padding-bottom:9px;}

.thumbList01 {_zoom:1;}
.thumbList01 li div span {_height:48px;}

.scrapView {_zoom:1;}

.viewAll td span {_height:90px;}

.detailWrap {_zoom:1;}
.teacherCmtWrap {_zoom:1;}
.teacherCmtWrap .ftRt {_height:133px;}
.detailTab {_zoom:1;}

.afterResult {_zoom:1;}
.detailAfter .afterCont p {_height:90px;}



.bestLecture {_zoom:1;}

.top3Best {_zoom:1;}
.top3Best dd ul {_zoom:1;}
.top3Best dd li .subject {_height:32px;}

.lectureList {_zoom:1;}
.categoryWrap ul {_zoom:1;}

.processStep {_zoom:1;}

.registConfirmBox {_zoom:1;}
dl.taxBill {_zoom:1;}

.couponDetail {_zoom:1;}
.shopBestWrap {_zoom:1;}

.subTitleWrap2 {_zoom:1;}

.diyshopCate .viewing {_zoom:1;}
.howView {_zoom:1;}

.callTab {_zoom:1;}

.innderDiyDetail {_zoom:1;}

.diyshopWrap {_zoom:1;}
.mainBnr02 .brickWrap ul {_zoom:1;}
.slideNum {_zoom:1;}
.viewWin .imgSlide {_zoom:1;}

.pickList {_zoom:1;}
.vodTitWrap {_zoom:1;}

.selectCont dd ul {_zoom:1;}
.selectOption {_zoom:1;}

.calendarTb td div {_height:130px;}

.scheduleCal dt div.thisMonth {*display:inline;}

.idSearchWrap {_zoom:1;}
.searchInput .btnIdSearch {_top:27px; *top:27px;}
.pwSearchWrap {_zoom:1;}

.joinStep {_zoom:1;}

.joinGroup ul {_zoom:1;}

.brandTopWrap {_height:430px;}
.diybrandWrap .brandName .engName {_height:80px;}


.teacherWrap {_zoom:1;}

.trGallery {_zoom:1;}
.trGallery .galleryList dd ul {_zoom:1;}
.bookContWrap {_zoom:1;}

.mailZineWrap .moveBtn {_zoom:1;}
.mailInfoWrap {_zoom:1;}

.mailingList dd li {_zoom:1;}

.visualWrap {_zoom:1;}
.contList {_zoom:1;}

.videoThumb {_zoom:1;}
.mainDiyshop {_zoom:1;}

.trList dd.kind {_letter-spacing:-0.05em;}
.mainDiyshop .shopList {_zoom:1;}

.mainNotice {_zoom:1;}
.visualWrap .visualPage {_zoom:1;}

.sitemap {_zoom:1;}
.sitemap dd .menuWrap {_zoom:1;}

.usePrivate {_zoom:1;}
.useLink {_zoom:1;}